* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-text: "Public Sans", sans-serif;
  --secondary-text: "Poppins", sans-serif;
  --primary-text-color: #152427;
  --secondary-text-color: #575d5e;
  --primary-bg-color: #e2eddf;
  --secondary-bg-color: #143c3c;
}

body {
  font-size: 1.6rem;
}

/* Common */

/* Header */

/* Navbar */

/* =================================================== */

/* Hero */
